In [6]:
import pandas as pd
import basic

bank = pd.read_csv('..\자료\은행대출_금리\_2017\물적담보대출.csv', encoding='cp949')

bank.columns =  ['은행','구분','1~3등급','4등급','5등급','6등급','7~10등급','평균금리','참고사항']
bank.drop(0,axis=0,inplace=True)
bank.drop(['구분','참고사항','평균금리'],axis=1,inplace=True)
bank.replace('-',0,inplace=True)
bank.reset_index(drop=True, inplace=True)
bank =bank['은행']
bank

0       BNK경남은행
1       BNK부산은행
2       DGB대구은행
3       IBK기업은행
4        KB국민은행
5       KDB산업은행
6        NH농협은행
7        SH수협은행
8          광주은행
9     스탠다드차타드은행
10         신한은행
11         우리은행
12         전북은행
13         제주은행
14         하나은행
15       한국씨티은행
Name: 은행, dtype: object

In [7]:
#2017년 물적담보대출
import pandas as pd
import numpy as np


mort_2017 = basic.read('..\자료\은행대출_금리\_2017\물적담보대출.csv')
mort_2017.tidy()
mort = mort_2017.multi('2016년말')
mort

[4.545484451554843,
 4.189942005799419,
 4.19037696230377,
 3.335280471952804,
 4.112314768523147,
 4.074866513348665,
 4.130955904409558,
 4.365685431456853,
 4.5813858614138585,
 3.1280171543895054,
 4.607434256574343,
 4.3895510448955095,
 3.952474752524747,
 4.918390160983901,
 3.90950504949505,
 3.116167383261674]

In [8]:
#2017년 신용대출
credit_2017 = basic.read('..\자료\은행대출_금리\_2017\신용대출.csv')
credit_2017.tidy()
credit = credit_2017.multi('2016년말')
credit

[6.375688431156883,
 5.2280971902809705,
 5.430832916708329,
 7.663974602539746,
 8.421311868813117,
 7.416172382761722,
 7.731736826317368,
 6.189283071692831,
 6.080278972102789,
 6.619995963673057,
 6.318311168883111,
 7.91830116988301,
 8.40822917708229,
 5.952904709529046,
 6.423699630036996,
 3.430778922107789]

In [9]:
#2017년 신용마통대출
minusave_2017 = basic.read('..\자료\은행대출_금리\_2017\신용마통대출.csv')
minusave_2017.tidy()
minusave = minusave_2017.multi('2016년말')
minusave

[5.016952304769523,
 6.355971402859713,
 6.117748225177482,
 8.158547145285471,
 8.644566543345665,
 5.163348567946375,
 8.181622112377685,
 6.5945965403459645,
 5.844217578242175,
 4.724847628657922,
 7.0829217078292155,
 8.816451354864512,
 9.753167683231675,
 7.640001008776354,
 6.501370862913709,
 3.9844515539305307]

In [10]:
#2017년 은행 평균 기업대출 금리
db = basic.bank_db(bank,mort,credit,minusave)

list = db.loc[:,'mort':'minusave'].sum()/16
list.sum()/3

5.827879404104389