In [6]:
import pandas as pd
import basic

bank = pd.read_csv('..\자료\은행대출_금리\_2018\물적담보대출.csv', encoding='cp949')

bank.columns =  ['은행','구분','1~3등급','4등급','5등급','6등급','7~10등급','평균금리','참고사항']
bank.drop(0,axis=0,inplace=True)
bank.drop(['구분','참고사항','평균금리'],axis=1,inplace=True)
bank.replace('-',0,inplace=True)
bank.reset_index(drop=True, inplace=True)
bank =bank['은행']
bank

0       BNK경남은행
1       BNK부산은행
2       DGB대구은행
3       IBK기업은행
4        KB국민은행
5       KDB산업은행
6        NH농협은행
7        SH수협은행
8          광주은행
9     스탠다드차타드은행
10         신한은행
11         우리은행
12         전북은행
13         제주은행
14         하나은행
15       한국씨티은행
Name: 은행, dtype: object

In [7]:
#2018년 물적담보대출
import pandas as pd
import numpy as np


mort_2018 = basic.read('..\자료\은행대출_금리\_2018\물적담보대출.csv')
mort_2018.tidy()
mort = mort_2018.multi('2017년말')
mort

[4.857931,
 4.360831,
 4.4747,
 3.5832819999999996,
 4.520686,
 3.666261,
 4.184450999999999,
 4.358446,
 4.797916,
 3.350141257188982,
 4.463449000000001,
 4.189185999999999,
 4.347168999999999,
 4.620583,
 3.969175,
 3.5244289999999996]

In [8]:
#2018년 신용대출
credit_2018 = basic.read('..\자료\은행대출_금리\_2018\신용대출.csv')
credit_2018.tidy()
credit = credit_2018.multi('2017년말')
credit

[6.311968,
 5.731267,
 6.035711,
 7.797846,
 8.581454,
 5.915376,
 7.603135000000001,
 6.888089,
 6.30684,
 4.7126991150442485,
 6.941118,
 8.575094,
 10.122951000000002,
 6.435986,
 6.573843,
 3.328226501868353]

In [9]:
#2018년 신용마통대출
minusave_2018 = basic.read('..\자료\은행대출_금리\_2018\신용마통대출.csv')
minusave_2018.tidy()
minusave = minusave_2018.multi('2017년말')
minusave

[5.247731813136919,
 5.869644999999999,
 6.565430999999999,
 8.411283999999998,
 8.952282,
 5.470834,
 7.176326,
 7.44985,
 6.992209999999999,
 3.0185122467493195,
 7.102721000000001,
 8.850863,
 10.311578,
 9.074775,
 6.851391,
 4.344125441696113]

In [10]:
#2018년 은행 평균 기업대출 금리
db = basic.bank_db(bank,mort,credit,minusave)

list = db.loc[:,'mort':'minusave'].sum()/16
list.sum()/3

5.975412486993416