In [ ]:
import pymysql
import pandas as pd

In [ ]:
_db = pymysql.connect(
    user = 'root',
    passwd = 'qwer1234',
    host = 'localhost',
    db = 'ubion'
)

In [ ]:
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [ ]:
sql = 'SELECT * FROM user_info'

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'ID': '1', 'password': '1', 'name': '1', 'phone': '1', 'ads': '1', 'gender': 1, 'age': 1, 'regit_date': '1'}, {'ID': 'test', 'password': '1234', 'name': '고길동', 'phone': '01012345678', 'ads': '서울시 강북구 쌍문동', 'gender': 1, 'age': 45, 'regit_date': '20200310'}, {'ID': 'test1', 'password': '1235', 'name': 'dff', 'phone': '0105556954', 'ads': 'dgg', 'gender': 1, 'age': 12, 'regit_date': '85546'}, {'ID': 'test2', 'password': '5678', 'name': '둘리', 'phone': '01098765432', 'ads': '북극 어딘가', 'gender': 1, 'age': 10, 'regit_date': '20220310'}, {'ID': 'test3', 'password': '8589', 'name': '마이콜', 'phone': '01025985476', 'ads': '고길동 옆집', 'gender': 1, 'age': 28, 'regit_date': '20220310'}, {'ID': 'test4', 'password': '1569', 'name': '또치', 'phone': '0105874632', 'ads': '동물원', 'gender': 2, 'age': 4, 'regit_date': '20220310'}, {'ID': 'test5', 'password': '5689', 'name': '도우너', 'phone': '01012345678910', 'ads': '깐따삐아', 'gender': 1, 'age': 10, 'regit_date': '20220310'}, {'ID': 'test6', 'password': '3366', 'name': '희동이', 'phone': '0105896321', 'ads': '고길동집', 'gender': 1, 'age': 3, 'regit_date': '2022.03.11'}]

In [ ]:
# result를 데이터프레임으로 만들어라
dt = pd.DataFrame(result)
dt

      ID password name           phone          ads  gender  age  regit_date
0      1        1    1               1            1       1    1           1
1   test     1234  고길동     01012345678  서울시 강북구 쌍문동       1   45    20200310
2  test1     1235  dff      0105556954          dgg       1   12       85546
3  test2     5678   둘리     01098765432       북극 어딘가       1   10    20220310
4  test3     8589  마이콜     01025985476       고길동 옆집       1   28    20220310
5  test4     1569   또치      0105874632          동물원       2    4    20220310
6  test5     5689  도우너  01012345678910         깐따삐아       1   10    20220310
7  test6     3366  희동이      0105896321         고길동집       1    3  2022.03.11

In [ ]:
sql = "INSERT INTO user_info VALUES (%s, %s, %s,%s,%s,%s,%s,%s)"
values = ['test4','1569','또치','0105874632','동물원',2,4,'20220310'] 

cursor.execute(sql,values)
#왜 % 구문을 사용하는데 문자열 맨 뒤에 %를 안쓰나?
#-> 여기서는 python의 % 구문 사용과는 다르게 
#pymysql내의 excute 함수에서 자체적으로 문자열에 단어나 문자를 추가해주는 방식이기에
#문자열 맨 뒤에 %를 추가하지 않아도 된다.

_db.commit()

IntegrityError: (1062, "Duplicate entry 'test4' for key 'user_info.PRIMARY'")

In [ ]:
sql = "INSERT INTO user_info VALUES (%s, %s, %s,%s,%s,%s,%s,%s)"

_ID = input('ID : ')
pw = input('passwrod : ')
name = input('name : ')
phone = input('phone : ')
ads = input('address : ')
gender = int(input('gender :'))
age = int(input('age : '))
regit_date = input('regit_date :')

input_list = [_ID,pw,name,phone,ads,gender,age,regit_date]

cursor.execute(sql,input_list)
_db.commit()

NameError: name 'cursor' is not defined

In [ ]:
update_sql = '''UPDATE user_info 
                SET phone = "01012345678910"
                where name = "도우너" 
                '''

cursor.execute(update_sql)
_db.commit()

In [13]:
delete_sql = '''
             DELETE FROM user_info
             where name = '1'
             '''

cursor.execute(delete_sql)
_db.commit()

In [15]:
a = 30

if a :
    print(a)
else:
    print('b')

30