In [25]:
#class를 생성하라
#1. 인자값으로 url(주소) -> csv 파일의 주소
#2. 함수 1개 생성 -> url에 있는 파일을 읽어오고 'Country'기준으로 sort, 인덱스 값을 초기화하라
#3. 함수 1개 생성 -> 인자값을 list로 받는다.-> 이 매개변수 기준으로 columns를 삭제
import pandas as pd
import numpy as np
class sales():
    def __init__(self,url):
        self.url = url
    
    #함수의 디폴트값 설정하는 법 => 함수의 매개변수를 지정할 때, '=디폴트값'을 붙여놓는다.
    def tidy(self,input_sort='Country',input_inplace=True):
        self.df = pd.read_csv(self.url)
        self.df.sort_values(input_sort,inplace=input_inplace)
        self.df.reset_index(drop=True, inplace=input_inplace)
        return self.df
    
    def columns(self,_list = []):
        self.df.drop(_list,axis=1,inplace=True)
        return self.df
    
    def re_name(self,col):
        self.df.columns = col
        return self.df

    def grouping(self,nation):
        self.total = self.df.groupby('Country').get_group(nation)
        return self.total

    def drop_set(self,start,end):
        self.df.drop(self.df.loc[:,start:end],axis=1,inplace=True)
        return self.df
    

a = sales('Sales Records.csv')
a.tidy()
a.columns()
a.drop_set('Order Date','Unit Cost')

,Region,Country,Item Type,Sales Channel,Order Priority,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,89941.20,66708.80,23232.40

In [26]:
import mod1 
mod1.add(10,11)
mod1.sub(16,10)

#만일 모듈 수정 후 수정 내용을 적용하고 싶다면
#1. 메뉴의 restart 버튼 실행
#2. import imp
#   imp.reload(모듈 이름) 실행

21
6

6

In [27]:
from module import mod2
mod2.sub(10,1)

9

9

In [28]:
from mod3 import add, sub
add(5,3)
sub(5,3)

8
2

2

In [17]:
from module import mod4
import imp
imp.reload(mod4)

df = mod4.sales('.\Sales Records.csv')
df.tidy()
df.columns(['Order ID','Order Priority','Sales Channel','Region'])
df.re_name(['국가','물건','선적순서','운송날짜','수량','단가','단위비용','총매출','총비용','총이윤'])
df.grouping('국가','South Korea')

ERROR! Session/line number was not unique in database. History logging moved to new session 405

,국가,물건,선적순서,운송날짜,수량,단가,단위비용,총매출,총비용,총이윤
8160,South Korea,Clothes,5/12/2016,6/11/2016,1256,109.28,35.84,137255.68,45015.04,92240.64
8161,South Korea,Office Supplies,8/13/2013,9/26/2013,5211,651.21,524.96,3393455.31,2735566.56,657888.75
8162,South Korea,Snacks,8/19/2016,8/30/2016,7773,152.58,97.44,1186004.34,757401.12,428603.22
8163,South Korea,Personal Care,3/26/2016,5/4/2016,8794,81.73,56.67,718733.62,498355.98,220377.64
8164,South Korea,Baby Food,10/20/2014,10/22/2014,8600,255.28,159.42,2195408.00,1371012.00,824396.00
8165,South Korea,Office Supplies,8/13/2015,9/3/2015,8523,651.21,524.96,5550262.83,4474234.08,1076028.75
8166,South Korea,Cereal,10/19/2011,12/5/2011,9934,205.70,117.11,2043423.80,1163370.74,880053.06
8167,South Korea,Snacks,6/1/2011,6/28/2011,8724,152.58,97.44,1331107.92,850066.56,481041.36
8168,South Korea,Personal Care,7/15/2013,7/28/2013,6404,81.73,56.67,523398.92,362914.68,160484.24
8169,South Korea,Clothes,6/29/2013,7/13/2013,4703,109.28,35.84,513943.84,168555.52,345388.32
8170,South Korea,Cosmetics,6/24/2011,8/7/2011,1692,437.20,263.33,739742.40,445554.36,294188.04
8171,South Korea,Fruits,3/13/2011,3/31/2011,7070,9.33,6.92,65963.10,48924.40,17038.70
8172,South Korea,Meat,1/17/2010,2/15/2010,7637,421.89,364.69,3221973.93,2785137.53,436836.40
8173,South Korea,Clothes,11/20/2016,12/2/2016,4603,109.28,35.84,503015.84,164971.52,338044.32
8174,South Korea,Clothes,3/14/2017,4/26/2017,2820,109.28,35.84,308169.60,101068.80,207100.80
8175,South Korea,Snacks,8/31/2010,9/4/2010,5629,152.58,97.44,858872.82,548489.76,310383.06
8176,South Korea,Cereal,3/24/2016,4/21/2016,8782,205.70,117.11,1806457.40,1028460.02,777997.38
8177,South Korea,Meat,12/27/2013,1/29/2014,8676,421.89,364.69,3660317.64,3164050.44,496267.20
8178,South Korea,Cereal,6/17/2015,8/3/2015,2490,205.70,117.11,512193.00,291603.90,220589.10
8179,South Korea,Fruits,1/31/2016,2/15/2016,4704,9.33,6.92,43888.32,32551.68,11336.64
8180,South Korea,Baby Food,9/20/2013,11/1/2013,4090,255.28,159.42,1044095.20,652027.80,392067.40
8181,South Korea,Fruits,5/4/2017,5/26/2017,8805,9.33,6.92,82150.65,60930.60,21220.05
8182,South Korea,Beverages,8/10/2015,8/19/2015,6569,47.45,31.79,311699.05,208828.51,102870.54
8183,South Korea,Meat,3/26/2010,4/21/2010,3056,421.89,364.69,1289295.84,1114492.64,174803.20
8184,South Korea,Baby Food,4/23/2012,6/10/2012,5536,255.28,159.42,1413230.08,882549.12,530680.96
8185,South Korea,Office Supplies,8/17/2011,9/25/2011,1923,651.21,524.96,1252276.83,1009498.08,242778.75
8186,South Korea,Vegetables,9/30/2014,10/4/2014,3364,154.06,90.93,518257.84,305888.52,212369.32
8187,South Korea,Baby Food,11/2/2010,11/25/2010,1710,255.28,159.42,436528.80,272608.20,163920.60
8188,South Korea,Beverages,3/17/2015,5/1/2015,5311,47.45,31.79,252006.95,168836.69,83170.26
8189,South Korea,Personal Care,4/11/2012,4/22/2012,5789,81.73,56.67,473134.97,328062.63,145072.34
8190,South Korea,Fruits,2/16/2010,3/19/2010,4526,9.33,6.92,42227.58,31319.92,10907.66
8191,South Korea,Personal Care,8/16/2014,9/9/2014,2856,81.73,56.67,233420.88,161849.52,71571.36
8192,South Korea,Snacks,11/29/2014,1/6/2015,1001,152.58,97.44,152732.58,97537.44,55195.14
8193,South Korea,Household,4/4/2011,5/5/2011,4609,668.27,502.54,3080056.43,2316206.86,763849.57
8194,South Korea,Household,4/12/2014,4/30/2014,4904,668.27,502.54,3277196.08,2464456.16,812739.92
8195,South Korea,Cosmetics,8/28/2015,10/14/2015,1793,437.20,263.33,783899.60,472150.69,311748.91
8196,South Korea,Clothes,2/4/2012,2/26/2012,33,109.28,35.84,3606.24,1182.72,2423.52
8197,South Korea,Cosmetics,5/20/2010,6/20/2010,1356,437.20,263.33,592843.20,357075.48,235767.72
8198,South Korea,Personal Care,1/31/2015,3/19/2015,9013,81.73,56.67,736632.49,510766.71,225865.78
8199,South Korea,Snacks,4/12/2017,5/8/2017,3919,152.58,97.44,597961.02,381867.36,216093.66
8200,South Korea,Meat,8/24/2011,9/13/2011,3552,421.89,364.69,1498553.28,1295378.88,203174.40
8201,South Korea,Baby Food,8/12/2013,9/14/2013,5199,255.28,159.42,1327200.72,828824.58,498376.14
8202,South Korea,Office Supplies,2/8/2016,3/27/2016,8274,651.21,524.96,5388111.54,4343519.04,1044592.50
8203,South Korea,Baby Food,11/17/2013,12/22/2013,7855,255.28,159.42,2005224.40,1252244.10,752980.30
8204,South Korea,Cereal,10/23/2014,11/25/2014,6344,205.70,117.11,1304960.80,742945.84,562014.96
8205,South Korea,Household,12/20/2012,1/21/2013,1357,668.27,502.54,906842.39,681946.78,224895.61
8206,South Korea,Office Supplies,6/3/2014,6/3/2014,3180,651.21,524.96,2070847.80,1669372.80,401475.00
8207,South Korea,Household,4/16/2011,5/22/2011,8204,668.27,502.54,5482487.08,4122838.16,1359648.92
8208,South Korea,Beverages,11/2/2013,11/30/2013,376,47.45,31.79,17841.20,11953.04,5888.16
8209,South Korea,Snacks,10/16/2011,11/28/2011,5700,152.58,97.44,869706.00,555408.00,314298.00
8210,South Korea,Meat,12/2/2015,12/31/2015,6716,421.89,364.69,2833413.24,2449258.04,384155.20
8211,South Korea,Vegetables,3/14/2017,4/15/2017,4750,154.06,90.93,731785.00,431917.50,299867.50
8212,South Korea,Vegetables,5/3/2011,6/5/2011,9556,154.06,90.93,1472197.36,868927.08,603270.28
8213,South Korea,Household,2/22/2013,3/22/2013,948,668.27,502.54,633519.96,476407.92,157112.04
8214,South Korea,Vegetables,2/15/2011,2/25/2011,8287,154.06,90.93,1276695.22,753536.91,523158.31
8215,South Korea,Fruits,3/20/2017,3/25/2017,8659,9.33,6.92,80788.47,59920.28,20868.19
8216,South Korea,Household,2/11/2012,3/28/2012,3942,668.27,502.54,2634320.34,1981012.68,653307.66
8217,South Korea,Household,2/6/2011,3/22/2011,8215,668.27,502.54,5489838.05,4128366.10,1361471.95
8218,South Korea,Vegetables,11/1/2010,11/5/2010,5920,154.06,90.93,912035.20,538305.60,373729.60
8219,South Korea,Office Supplies,5/23/2016,5/26/2016,8699,651.21,524.96,5664875.79,4566627.04,1098248.75

In [81]:
n_a = np.random.random((10,2))
n_b = pd.DataFrame(n_a)

# for i in range(len(n_a)):
#     if n_a[i][1] >0.5:
#         n_a[i][1]=1
#     elif n_a[i][1] <= 0.5:
#         n_a[i][1]=0

# for i in range(len(n_b)):
#     if n_b[1][i]>0.5:
#         n_b[1][i]=1
#     else:
#         n_b[1][i]=0

# a = []
# for i in n_b[1]:
#     if i >0.5:
#         a.append(1)
#     else:
#         a.append(0)

# n_b[1].round()

# n_b[1].apply(lambda x: 1 if (x>0.5) else 0)


def _round(x):
    if x > 0.5:
        return 1
    else:
        return 0

n_b[1].apply(_round)

0    1
1    1
2    1
3    0
4    1
5    0
6    1
7    0
8    1
9    1
Name: 1, dtype: int64