In [1]:
a = '3'
b = '4'
print(a+b)
#34

34

In [3]:
print('hi'*3)
#hihihi

hihihi

In [5]:
print('-'*80)

--------------------------------------------------------------------------------

In [10]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

python java python java python java python java

In [15]:
name1 = '민수'
age1 = 10
name2 = '철희'
age2 = 13
print('이름: {} 나이:{} \n이름: {} 나이:{}'.format(name1,age1,name2,age2))

이름: 민수 나이:10
이름: 철희 나이:13

In [17]:
print('이름: %s 나이: %d'%(name1,age1))

이름: 민수 나이: 10

In [21]:
stock='5,969,782,550'
a = int(stock.replace(',',''))
print(a)

5969782550

In [22]:
data = "         삼성전자          "
print(data.strip())

삼성전자