In [3]:
import pandas as pd
import numpy as np

url = '.\대출금리\개인사업자 대출\기업대출금리(신용대출-개인사업자).csv'
class read():
    credit_distribution = pd.read_csv('.\개인사업자신용등급분포.csv', encoding='cp949')
    cd = np.array(credit_distribution['구성 비율']).astype('float')
    

    def __init__(self,url):
        self.loan_dev = url

    def tidy(self):
        self.loan_dev = pd.read_csv(self.loan_dev,encoding='cp949')
        self.loan_dev['은행'] = self.loan_dev['은행'].str.strip()
        self.loan_dev.columns = ['은행','구분','1~2등급','3~4등급','5~6등급','7~8등급','9~10등급','평균금리','참고사항']
        self.loan_dev.drop([0],axis=0,inplace=True)
        self.loan_dev.drop(['참고사항','구분'],axis=1,inplace=True)
        self.loan_dev['평균금리']=self.loan_dev['평균금리'].replace('-',np.NaN)
        self.loan_dev.dropna(axis=0,inplace=True)
        self.loan_dev.reset_index(drop=True,inplace=True)
        self.loan_dev.replace('-',0,inplace=True)
        self.interest_grade = self.loan_dev.loc[:,'1~2등급':'9~10등급']
        return self.loan_dev

    def multi(self):
        self.a = []
        for i in range(len(self.interest_grade)):
            self.rate_grade = np.array(self.interest_grade.loc[i:i,'1~2등급':'9~10등급'], dtype='float')[0]
            #은행 상품 단위 신용 등급 별 이자율
            self.boolean = self.rate_grade.astype('bool')
            #상품의 대상 고객 
            self.ac_cd = sum(self.boolean * self.cd)
            # 전체 신용 등급 대비 타겟 고객 비율
            self.customer_ration = self.cd / self.ac_cd
            # 타겟 고객 대비 특정 신용 등급 고객 비율
            self.real_income = self.rate_grade @ self.customer_ration
            # 대출 금리에 대한 실제 고객의 가중 평균으로 구한 상품 수익률
            self.a.append(self.real_income)
        
        self.loan_dev['가중평균수익'] = self.a
        return self.loan_dev


a = read(url)
a.tidy()
a.multi()

C:\Users\LG\AppData\Local\Temp\ipykernel_9972\542352148.py:35: RuntimeWarning: divide by zero encountered in true_divide
  self.customer_ration = self.cd / self.ac_cd
C:\Users\LG\AppData\Local\Temp\ipykernel_9972\542352148.py:37: RuntimeWarning: invalid value encountered in matmul
  self.real_income = self.rate_grade @ self.customer_ration

           은행 1~2등급 3~4등급 5~6등급  7~8등급 9~10등급  평균금리    가중평균수익
0     BNK경남은행  3.10  3.75  4.68  10.05   8.99  3.33  4.663322
1     BNK부산은행  3.40  3.99  4.74   6.01   5.32  3.73  4.109053
2     DGB대구은행  2.94  3.39  4.61   6.60  12.21  4.44  4.232495
3     IBK기업은행  3.70  4.13  4.84   7.50   9.13  5.14  4.722511
4      KB국민은행  3.46  4.11  6.80   9.69   6.60  3.86  5.027652
5     KDB산업은행     0     0     0      0      0  3.50       NaN
6      NH농협은행  3.55  4.36  5.70   8.12  12.63  3.95  5.057794
7      SH수협은행     0  4.12     0      0      0  4.50  4.120000
8        광주은행  3.85  4.08  4.76   5.28   7.26  4.41  4.385279
9   스탠다드차타드은행     0     0     0      0   6.03  5.73  6.030000
10       신한은행  3.54  3.81  4.81   8.23  10.61  4.05  4.779724
11       우리은행  3.66  4.50  5.90   8.14  12.07  4.56  5.134246
12       전북은행  4.95  5.74  7.94  10.80  10.48  6.09  6.558323
13       제주은행  4.02  4.48  6.13   8.28  13.45  4.92  5.468169
14       하나은행  2.64  3.03  3.71   5.86   9.16  2.89  3.629086
15     한국씨티은행  4.20     0  4.36   5.59      0  4.27  4.449539