In [1]:
import pandas as pd
import numpy as np

url = '.\대출금리\중소기업 대출\기업대출금리(보증서담보-중소기업).csv'
class read():
    credit_distribution = pd.read_csv('.\기업신용등급분포.csv', encoding='cp949')
    cd = np.array(credit_distribution['구성 비율']).astype('float')
    

    def __init__(self,url):
        self.loan_dev = url

    def tidy(self):
        self.loan_dev = pd.read_csv(self.loan_dev,encoding='cp949')
        self.loan_dev['은행'] = self.loan_dev['은행'].str.strip()
        self.loan_dev.columns = ['은행','구분','1~3등급','4등급','5등급','6등급','7~10등급','평균금리','참고사항']
        self.loan_dev.drop([0],axis=0,inplace=True)
        self.loan_dev.drop(['참고사항','구분'],axis=1,inplace=True)
        self.loan_dev['평균금리']=self.loan_dev['평균금리'].replace('-',np.NaN)
        self.loan_dev.dropna(axis=0,inplace=True)
        self.loan_dev.reset_index(drop=True,inplace=True)
        self.loan_dev.replace('-',0,inplace=True)
        self.interest_grade = self.loan_dev.loc[:,'1~3등급':'7~10등급']
        return self.loan_dev

    def multi(self):
        self.a = []
        for i in range(len(self.interest_grade)):
            self.rate_grade = np.array(self.interest_grade.loc[i:i,'1~3등급':'7~10등급'], dtype='float')[0]
            #은행 상품 단위 신용 등급 별 이자율
            self.boolean = self.rate_grade.astype('bool')
            #상품의 대상 고객 
            self.ac_cd = sum(self.boolean * self.cd)
            # 전체 신용 등급 대비 타겟 고객 비율
            self.customer_ration = self.cd / self.ac_cd
            # 타겟 고객 대비 특정 신용 등급 고객 비율
            self.real_income = self.rate_grade @ self.customer_ration
            # 대출 금리에 대한 실제 고객의 가중 평균으로 구한 상품 수익률
            self.a.append(self.real_income)
        
        self.loan_dev['가중평균수익'] = self.a
        return self.loan_dev


a = read(url)
a.tidy()
a.multi()

           은행 1~3등급   4등급   5등급   6등급 7~10등급  평균금리    가중평균수익
0     BNK경남은행  2.77  3.04  3.44  3.82      0  3.10  3.630619
1     BNK부산은행  2.94  3.19  3.40  3.62   3.36  3.20  3.508295
2     DGB대구은행  2.45  3.10  3.47  3.51   4.63  3.09  3.458359
3     IBK기업은행  2.95  3.33  3.75  4.05   4.59  3.46  3.893870
4      KB국민은행  2.54  3.56  3.86  4.22   3.96  3.43  4.025756
5     KDB산업은행  1.69  3.08  3.01  3.15      0  2.95  3.062446
6      NH농협은행  2.45  3.55  3.90  4.20   4.26  3.37  4.026296
7      SH수협은행  3.10  3.39  3.72  4.51      0  3.49  4.161406
8        광주은행  3.53  3.73  3.89  4.04   4.28  3.77  3.965179
9   스탠다드차타드은행  2.70  3.97  4.21  4.11      0  3.66  4.098173
10       신한은행  2.61  3.39  3.62  3.79   3.98  3.20  3.686336
11       우리은행  2.21  3.31  3.62  3.66   3.95  3.10  3.594301
12       전북은행  3.48  3.60  4.16  4.41      0  3.96  4.264490
13       제주은행  4.03  3.85  4.03  5.38   4.21  3.98  4.826212
14       하나은행  1.97  3.00  3.22  3.53   4.02  2.72  3.367403
15     한국씨티은행  3.13  3.43  3.61  3.91      0  3.37  3.768453