In [13]:
import pandas as pd
import numpy as np

url = '.\대출금리\중소기업 대출\기업대출금리(대물담보-중소기업).csv'
class read():
    credit_distribution = pd.read_csv('.\기업신용등급분포.csv', encoding='cp949')
    cd = np.array(credit_distribution['구성 비율']).astype('float')
    

    def __init__(self,url):
        self.loan_dev = url

    def tidy(self):
        self.loan_dev = pd.read_csv(self.loan_dev,encoding='cp949')
        self.loan_dev['은행'] = self.loan_dev['은행'].str.strip()
        self.loan_dev.columns = ['은행','구분','1~3등급','4등급','5등급','6등급','7~10등급','평균금리','참고사항']
        self.loan_dev.drop([0],axis=0,inplace=True)
        self.loan_dev.drop(['참고사항','구분'],axis=1,inplace=True)
        self.loan_dev['평균금리']=self.loan_dev['평균금리'].replace('-',np.NaN)
        self.loan_dev.dropna(axis=0,inplace=True)
        self.loan_dev.reset_index(drop=True,inplace=True)
        self.loan_dev.replace('-',0,inplace=True)
        self.interest_grade = self.loan_dev.loc[:,'1~3등급':'7~10등급']
        return self.loan_dev

    def multi(self):
        self.a = []
        for i in range(len(self.interest_grade)):
            self.rate_grade = np.array(self.interest_grade.loc[i:i,'1~3등급':'7~10등급'], dtype='float')[0]
            #은행 상품 단위 신용 등급 별 이자율
            self.boolean = self.rate_grade.astype('bool')
            #상품의 대상 고객 
            self.ac_cd = sum(self.boolean * self.cd)
            # 전체 신용 등급 대비 타겟 고객 비율
            self.customer_ration = self.cd / self.ac_cd
            # 타겟 고객 대비 특정 신용 등급 고객 비율
            self.real_income = self.rate_grade @ self.customer_ration
            # 대출 금리에 대한 실제 고객의 가중 평균으로 구한 상품 수익률
            self.a.append(self.real_income)
        
        self.loan_dev['가중평균수익'] = self.a
        return self.loan_dev


a = read(url)
a.tidy()
a.multi()

           은행 1~3등급   4등급   5등급   6등급 7~10등급  평균금리    가중평균수익
0     BNK경남은행  2.93  2.97  3.45  3.83   5.03  3.41  3.651922
1     BNK부산은행  3.05  3.29  3.50  4.16   4.94  3.44  3.882434
2     DGB대구은행  2.73  3.12  3.57  3.85   4.65  3.47  3.701397
3     IBK기업은행  2.82  3.07  3.28  3.34   3.30  3.13  3.293549
4      KB국민은행  2.83  3.09  3.38  4.88   5.30  3.33  4.259764
5     KDB산업은행  2.53  2.67  2.87  3.19   3.11  2.72  3.043726
6      NH농협은행  3.05  3.16  3.43  3.72   4.07  3.52  3.584649
7      SH수협은행  3.64  3.78  3.90  3.72   3.68  3.70  3.778400
8        광주은행  3.18  3.61  3.84  4.12   4.74  3.76  3.985387
9   스탠다드차타드은행     0  2.96  3.06  2.93   3.44  3.09  2.978694
10       신한은행  3.02  3.18  3.47  4.17   4.54  3.35  3.869349
11       우리은행  3.06  3.19  3.46  4.68   4.40  3.35  4.170089
12       전북은행  3.49  3.83  3.76  4.04   4.10  3.79  3.925718
13       제주은행  3.71  3.78  3.92  4.17   6.14  4.04  4.074441
14       하나은행  2.79  2.94  3.13  3.59   4.59  3.28  3.397423
15     한국씨티은행  3.21  3.22  3.39  4.03   5.14  3.37  3.772090