In [1]:
import pymysql
#mysql을 파이썬에 구동하기 위한 라이브러리 호출


sample_db = pymysql.connect(
    user = 'root',
    password = 'qwer1234',
    host = 'localhost',
    db = 'ubion',
    charset = 'utf8'
)
#sample_db 변수에 pymysql 라이브러리가 실제 mysql에 연결하기위한
#정보를 입력해주는 pymysql.connect()함수 입력

In [2]:
cursor = sample_db.cursor(pymysql.cursors.DictCursor)
#sample_db로 연결한 mysql 데이터에 대해서 cursor 함수 결과값을 
#변수 cursor에 저장한다.

In [3]:
create = "create table base1 (id varchar(32) primary key, password varchar(32) not null)"
cursor.execute(create)

#명령어 create : 데이터베이스나 테이블을 새롭게 만들 때 사용하는 sql 명령어
#테이블의 생성 시, 해당 테이블에 대한 필드 이름과 필드 타입(ex: int,varchar,char,tinyint...)을 정의하고 
#필요에 따라서 개별 필드에 대한 제약 조건을 달 수 있다.

0

In [4]:
create2 = "create table base2 (id varchar(32) primary key, ph_n varchar(32) not null)"
cursor.execute(create2)

0

In [5]:
insert = "insert into base1 values('test{}','{}')".format(8,8888)
cursor.execute(insert)
result=cursor.fetchall()
print(result)

#명령어 insert into: 테이블에 새로운 데이터를 추가하는 명령어, 
#필드 이름을 지정하고 해당 필드별로 데이터를 추가하기도 하지만
# 필드 이름을 생략하't는 경우 그냥 순서대로 들어간다.
#그러나 colum의 값(필드 개수)보다 많은 데이터가 들어가는 경우 오류가 나온다.

()

In [6]:
select = 'select * from base1'
cursor.execute(select)
result=cursor.fetchall()
print(result)

# 명령어 select : 데이터 테이블의 데이터를 선택하는 명령어
# select 필드이름 form 테이블 이름 -> 특정 테이블에 있는 필드에서 데이터 추출
# 여기서 where 조건식을 추가해 지정된 필드에서 특정 조건을 만족하는 데이터의 출력도 가능하다.

[{'id': 'test8', 'password': '8888'}]

In [7]:
sample_db.commit()

In [8]:
delete = "delete from base1 where id = 'test6'"
cursor.execute(delete)

#명령문 delete : 테이블 안의 데이터를 삭제하는 명령문
#delete from 테이블 이름 -> 특정 테이블에 있는 모든 데이터 삭제
#where 조건식으로 테이블 내에 특정 조건을 만족하는 데이터 삭제도 가능하다.
#drop문 : 테이블의 삭제
#delete문: 데이터의 삭제

0

In [9]:
insert2 = "insert into base2 values('test4','010-1234-4567')"
cursor.execute(insert2)

1

In [10]:
update1 = "update base1 set password = '1111' where id = 'test1'"
cursor.execute(update1)

0

In [11]:
delete1 = "delete from base1 where id='test2'"
cursor.execute(delete1)

0

In [12]:
l_join = "select base1.id, base1.password, base2.ph_n from base1 left join base2 on base1.id = base2.id"
cursor.execute(l_join)
result = cursor.fetchall()
print(result)

#명령문 update: 테이블의 내용을 수정하는 명령문
#update 테이블이름 set 필드이름=데이터값 ->특정 테이블에서 특정 필드의 모든 데이터를 작성 데이터로 수정
# where 조건문으로 필드 내의 특정 값에 대한 변경도 가능하다.

[{'id': 'test8', 'password': '8888', 'ph_n': None}]

In [13]:
l_join = '''select base1.id, base1.password, base2.ph_n from base1 left join base2 on base1.id = base2.id'''
cursor.execute(l_join)
result = cursor.fetchall()
print(result)

#명령어 join: 데이터베이스 내의 여러 테이블에서 특정 컬럼 값을 가져와 
#조합하여 하나의 집합을 표현한다. 
#left join, rigt join, inner join 등 종류가 많고
#이것들은 간단하게 집합 관계를 생각하면 된다.

[{'id': 'test8', 'password': '8888', 'ph_n': None}]

In [14]:
i_join = 'select base1.id, base1.password, base2.ph_n from base1 inner join base2 on base1.id=base2.id'


cursor.execute(i_join)
result = cursor.fetchall()
print(result)

()

In [15]:
#1)sample_db.cursor(pymysql.cursors.DictCursor) 의미
'''#-> #sample_db로 연결한 mysql 데이터에 대해서 cursor 함수 결과값을 
변수 cursor에 저장한다.'''

#2)개별 탭에 result = cursor.fetchall()을 지정하는 이유
#이미 이전 탭에 result변수에 값을 지정했는데 왜 또 지정하는지
'''먼저 result = cursor.fetchall()의 의미를 알아야 하는데 이건은 
이전에 cursor.execute()를 통해서 () 안에 문자열로 정의된 
명령어를 파이썬 외부의 pymysql로 실행하게 된다. 이 결과값을 파이썬에 
가져와야하기에 result라는 변수에 cursor.fetchall()을 통해 데이터를 저장한다.
이때, result에 저장되는 것은 curso.fetchall()이라는 함수가 아니라
이 함수를 통해 가져오게 되는 데이터가 된다.
따라서 다음 탭에서 결과값을 출력하기 위해서는 
별도로 fetchall()을 통해서 데이터를 저장해r야한다.'''


#3) join에서 큰 따옴표와 작은 따옴표 세개의 차이. 출력은 같은거 같은데
'''둘 다 문자열을 표현하기 위한 표식이다. 하지만 
한가지 차이점이 있는데 큰 따옴표 내에 데이터를 적을 때, 
줄을 바꾸게 되면 바뀐 줄은 문자열 속성이 없어지고 원래 줄에만 문자열 속성이 있는데
작은 따옴표 3개는 문자열 속성이 줄을 바꿔도 이어지는 차이점이 있다.'''


#4) join으로 출력된 결과값으로 새로운 테이블을 만드는 방법 in python
'''mysql에서 join 결과값으로 한번에 새로운 테이블을 만드는 방법은 없다고 할 정도로
방법이 복잡하기에 새로운 테이블을 만들어서 입력해야한다. join 결과값으로 
한번에 새로운 테이블을 만드는 방법은 없다고 생각을 하면 된다.'''

'mysql에서 join 결과값으로 한번에 새로운 테이블을 만드는 방법은 없다고 할 정도로\n방법이 복잡하기에 새로운 테이블을 만들어서 입력해야한다. join 결과값으로 \n한번에 새로운 테이블을 만드는 방법은 없다고 생각을 하면 된다.'

In [16]:
order_asc = 'select * from base1 order by id asc'
order_desc = 'select * from base1 order by id desc'

cursor.execute(order_asc)
result = cursor.fetchall()
print(result)

cursor.execute(order_desc)
result = cursor.fetchall()
print(result)

#명령어 order: 지정된 컬럼을 기준으로 정렬
# select * from 테이블명 order by 컬럼명 asc->오름차순 정렬
# select * from 테이블명 order by 컬럼명 desc->내림차순 정렬

[{'id': 'test8', 'password': '8888'}]
[{'id': 'test8', 'password': '8888'}]

In [17]:
group_by = 'select*from base1 group by id'

group_by_after_conditon = "select * from base1 where id != 'test3' group by id"
cursor.execute(group_by_after_conditon)
result = cursor.fetchall()
print(result)

group_by_before_conditon ="select * from base1 group by id having password != '5555'"
cursor.execute(group_by_before_conditon)
result = cursor.fetchall()
print(result)

[{'id': 'test8', 'password': '8888'}]
[{'id': 'test8', 'password': '8888'}]