In [1]:
#직접 파이프라인을 만들어보자....
# 타이타닉 생존자 관련 파이프 라인을 만들어서 어느 모델이 가장 
# 적합한지 파악하자.
# 타이타닉 생존자 데이터에서 다양한 독립변수에 대해서 생존율과 
# 가장 관련성이 높은 변수가 무엇인지 모델별로 확인하자.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

titanic_df=pd.read_csv('./datasets/train.csv')
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
titanic_df['Age'].fillna(titanic_df['Age'].mean(),inplace=True)
titanic_df['Cabin'].fillna('N',inplace=True)
titanic_df['Embarked'].fillna('N',inplace=True)

titanic_df.isnull().sum().sum()

0

In [4]:
from sklearn.preprocessing import LabelEncoder

titanic_df.drop(['PassengerId','Name','Ticket'],axis=1,inplace=True)

titanic_df['Cabin']=titanic_df['Cabin'].str[:1]

titanic_df

     Survived  Pclass     Sex        Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.000000      1      0   7.2500     N        S
1           1       1  female  38.000000      1      0  71.2833     C        C
2           1       3  female  26.000000      0      0   7.9250     N        S
3           1       1  female  35.000000      1      0  53.1000     C        S
4           0       3    male  35.000000      0      0   8.0500     N        S
..        ...     ...     ...        ...    ...    ...      ...   ...      ...
886         0       2    male  27.000000      0      0  13.0000     N        S
887         1       1  female  19.000000      0      0  30.0000     B        S
888         0       3  female  29.699118      1      2  23.4500     N        S
889         1       1    male  26.000000      0      0  30.0000     C        C
890         0       3    male  32.000000      0      0   7.7500     N        Q

[891 rows x 9 columns]

In [49]:
features = ['Cabin','Sex','Embarked']

for feature in features:
    le = LabelEncoder()
    le = le.fit(titanic_df[feature])
    titanic_df[feature] = le.transform(titanic_df[feature])

titanic_df.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208,5.946128,2.343434
std,0.486592,0.836071,0.477990,13.002015,1.102743,0.806057,49.693429,2.062347,1.167398
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400,7.000000,2.000000
50%,0.000000,3.000000,1.000000,29.699118,0.000000,0.000000,14.454200,7.000000,3.000000
75%,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000,7.000000,3.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,8.000000,3.000000

In [24]:
X= titanic_df.drop('Survived',axis=1)
y = titanic_df['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [47]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler

X= titanic_df.drop('Survived',axis=1)
y = titanic_df['Survived']

X_train, X_test, y_test, y_train = train_test_split(X,y,test_size=0.2,random_state=11)

pipeline= Pipeline([('scaler',StasndardScaler()),('rfc',DecisionTreeClassifier())])

pipeline.fit(X_train,y_train)
y_pred = pipeline.predict(X_test)
    
print(accuracy_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))

ValueError: Number of labels=179 does not match number of samples=712